<ion-content>

  <ion-grid>
		<ion-row class="ion-justify-content-center">
			<ion-col class="logo" >
				<img src="assets/logo.png"/>
			</ion-col>
		</ion-row>
	</ion-grid>
  
  <h3>Fotos enviadas com sucesso!</h3>
  <p><b>Local registrado:</b></p>
  <p>{{ localRegistrado }}</p>
</ion-content>

<ion-footer>
  <ion-toolbar color="success">
    <ion-button fill="clear" expand="full" color="light" [routerLink]="['/consulta-protocolo']">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Retornar
    </ion-button>      
  </ion-toolbar>
</ion-footer>